<h1 class="country-name">{{name}}</h1>
<div class="country-info">
    <ul class="country-info__list">
        <li class="country-info__item">
            <span>Capital:</span>
            {{capital}}
        </li>
        <li class="country-info__item">
            <span>Population:</span>
            {{population}}
        </li>
        <li class="country-info__item">
            <span>Languages:</span>
            <ul class="languages-list">
                {{#each languages}}
                <li class="languages-item">
                    {{name}}
                </li>
                {{/each}}
            </ul>
        </li>
    </ul>
    <img class="country-info__img" src="{{flag}}" alt="flag of {{name}}" width="350">
</div>