<h1 class="country-name">{{name}}</h1>
<ul class="country-list">
    <li class="country-item">
        Capital:{{capital}}
    </li>
    <li class="country-item">
        Population:{{population}}
    </li>
    <li class="country-item">
        Languages:
        <ul class="languages-list">
            {{#each languages}}
            <li class="languages-item">
                {{name}}
            </li>
            {{/each}}
        </ul>
    </li>
</ul>
<img class="country-img" src="{{flag}}" alt="{{name}}" width="200">